[Unit]
Description=tminus10 irc bot
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
User=tminus10
Group=tminus10
WorkingDirectory=/opt/tminus10
ExecStart=/opt/tminus10/tminus10.php
ExecStop=/usr/bin/pkill -x tminus10.php

[Install]
WantedBy=multi-user.target
Alias=tminus10.service
